#footer-content {
    align-items: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 67px;
    font-weight: 500;
}

@media (max-width: 480px) {
    #footer-content{
        position: relative;
    }
}