#specif {
    grid-column: 1 /span 4;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#specif > div{
    width:100%;
}

#specif span {
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

